<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>RPG Game - Inventory</h1>
    </header>
    <nav>
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'update_profile' %}">Profile</a>
        <a href="{% url 'inventory' %}">Inventory</a>
        <a href="#">Quests</a>
        <a href="{% url 'battle' %}">Battle</a>
        <a href="{% url 'shop' %}">Shop</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>


    <h1>{{ character.user.username }}'s Inventory</h1>

    <h3>Equipped Armor: {{ character.equipped_armor }}</h3>
    <h3>Equipped Weapon: {{ character.equipped_weapon }}</h3>

    <h2>Your Items:</h2>
    <ul>
        {% for item in inventory.items.all %}
        <li class="item">
            {{ item.name }} - {{ item.item_type }}
            {% if item == character.equipped_armor or item == character.equipped_weapon %}
                <span class="equipped"> (Equipped)</span>
                <form method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <input type="hidden" name="action" value="unequip">
                    <button type="submit">Unequip</button>
                </form>
            {% else %}
                <form method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <input type="hidden" name="action" value="equip">
                    <button type="submit">Equip</button>
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>    
</body>
</html>
