<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Game - Update Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <h1>RPG Game - Update Profile</h1>
</header>

<nav>
    <a href="{% url 'main' %}">Home</a>
    <a href="{% url 'update_profile' %}">Profile</a>
    <a href="{% url 'inventory' %}">Inventory</a>
    <a href="#">Quests</a>
    <a href="{% url 'battle' %}">Battle</a>
    <a href="{% url 'shop' %}">Shop</a>
    <a href="{% url 'logout' %}">Logout</a>
</nav>


<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update Profile">
    </form>
</div>

</body>
</html>
